.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;

  img {
    width: 100%;
    height: auto;
    margin-bottom: 3px;
  }

  a {
    text-decoration: none;
  }

  .title-text {
    font: {
      size: 14px;
      weight: bold;
    }
    color: black;
    margin-bottom: 3px;
  }

  .author-text {
    font: {
      size: 13px;
      weight: bold;
    }
    color: black;
    margin-bottom: 3px;
  }

  .score-text {
    font: {
      size: 12.5px;
      weight: bold;
    }
    color: gray;
  }
}
